*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url('./bg.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}